.container {
     margin-top: 5vh;
     height:6vh ;
     width:90vw ;
     left:5vh;
     display: flex;
     background-color: aqua;
}

.nav-items {
     position: absolute;
     right:0 ;
     display: flex;
     list-style:none;
     background-color: #fff;
     justify-items: right;
     
}
.nav-links {
     justify-content:right ;
     text-align: right;
     font-size: 1rem;
}
