@media screen and (max-width:1391px)  {
     .offers {
      width: 85%;
     }     
 }
@media screen and (max-width:1316px)  {
     .offers {
      width: 90%;
     }     
}
@media screen and (max-width:1250px)  {
     .offers {
      width: 95%;
     }
     .header {
          width : 85%;
     }
     .destination {
          width: 70%;
     }     
}
@media screen and (max-width:1175px)  {
     .header {
          width : 90%;
          height: fit-content ;
     }
     .travel-bx .card {
          width: 97%;
     }
     .travel-bx .cards .card {
          width: 194px;
     } 
     .destination {
          width: 75%;
     }      
}
@media screen and (max-width:1120px)  {
     .header {
          width : 90%;
     }
     .search-bx {
          width: 65%;
     }
     .offers {
          width: 100%;
     }     
}
@media screen and (max-width:1000px)  {
     .header {
          width : 95%;
     }
     .travel-bx .cards {
          overflow: auto;
     } 
     .travel-bx .cards .card {
          min-width: 194px;
          margin-right: 10px;
     }
}
@media screen and (max-width:920px) {
     .search-bx {
          width: 80%;
     }
     .search-bx .card {
          max-width: 143px;
          margin-right: 10px;
     }
     .destination {
          width: 80%;
     }  
     
}
@media screen and (max-width:750px) {
     .search-bx {
          width: 94%;
     }
     .offers {
          width: 80%;
     }
}
@media screen and (max-width:720px) {
     .header .nav-items{
          position: absolute;
          width: 130px;
          height: auto;
          flex-direction: column;
          background: #fff;
          border-radius: 5px;
          box-shadow: 0px 0px 10px gray;
          justify-content: center;
          top: 20px;
          z-index: 99999999999;
          padding: 10px 20px;
          align-items: center;
          
     }
     .header .nav-items li  {
          padding: 5px ;
          text-align: center;
          
     }
}
@media screen and (max-width:620px){
     .search-bx .card {
          min-width: 100px;
     }
     .offers {
          width: 90%;
     }
     .destination {
          width: 100%;
          flex-direction: column-reverse;
     }
     .destination .des-bx .img-bx {
          position: relative;
          width: 55%;
          height: auto;
     }
     .destination .des-bx {
          margin-top: 30px;
     }
}
@media screen and (max-width:500px){
     .offers .cards {
          justify-content: center;
     }
}
@media screen and (max-width:413px){
     .header .content .content-bx {
          width: 85%;
     }
     .content .content-bx h1 {
          font-size: 22px;
          width: 300px;
     }
     .header .content .content-bx p {
          width: 300px;
          font-size: 12px;
     }
     .search-bx {
          width: 89%;
     }
     .search-bx .card {
          width:110px;
     }
     .card input {
          font-size: 13px;
          width: 100%;
     }
     .offers .cards {
          justify-content: center;
     } 
     .destination .img-bx {
          width: 90%;
     }
}