@media screen and (max-width:1391px)  {
     .offers {
      width: 85%;
     }     
 }
@media screen and (max-width:1316px)  {
     .offers {
      width: 90%;
     }     
}
@media screen and (max-width:1250px)  {
     .offers {
      width: 95%;
     }
     .header {
          width : 85%;
     }
     .destination {
          width: 70%;
     }     
}
@media screen and (max-width:1175px)  {
     .header {
          width : 90%;
     }
     .travel-bx .card {
          width: 97%;
     }
     .travel-bx .cards .card {
          width: 194px;
     } 
     .destination {
          width: 75%;
     }      
}
@media screen and (max-width:1120px)  {
     .header {
          width : 90%;
     }
     .search-bx {
          width: 65%;
     }
     .offers {
          width: 100%;
     }     
}
@media screen and (max-width:1000px)  {
     .header {
          width : 95%;
     }
     .travel-bx .cards {
          overflow: auto;
     } 
     .travel-bx .cards .card {
          min-width: 194px;
          margin-right: 10px;
     }
}
@media screen and (max-width:920px) {
     .search-bx {
          width: 80%;
     }
     .search-bx .card {
          max-width: 143px;
          margin-right: 10px;
     }
     .destination {
          width: 80%;
     }  
     
}
