.offers {
     width: 80%;
     height: auto;
     /* border: 1px solid black; */
     margin: auto;
     margin-top: 100px;
     transition: .5s linear;
}
.offers h1 {
     font-weight: 600;
     text-align: center;
     margin: 0;
}
.offers p {
     font-weight: 500;
     text-align: center;
     margin: 0;
}
.offers .cards {
     margin-top: 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* border: 1px solid black; */
     flex-wrap:wrap ;
}
.offers .cards .card {
     position: relative;
     width: 200px;
     height: 350px;
     /* border: 1px solid black; */
     margin: 10px ;
}
.offers .cards .card h3 {
     width:140px ;
     padding: 6px 0px;
     background: rgb(165,243,165);
     border-radius: 20px;
     font-size: 12px;
     display: grid;
     place-items: center;
     margin: auto;
}
.offers .cards .card .img-text  {
     position: relative;
     width: 100%;
     height: 250px;
     margin-top: 5px;
}
.offers .cards .card .img-text img {
     position: relative;
     width: 100%;
     height: 100%;
     border-radius: 10px 10px 0px 0px;
}
.offers .cards .card .img-text h4 {
     position: absolute;
     font-size: 9px;
     padding: 10px 15px;
     bottom: 0;
     margin: 0;
     color: #fff;   
     z-index: 2;  
}
.offers .cards .card .img-text h4::before {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: rgb(245,245,245 ,.1);
     backdrop-filter: blur(5px);
     z-index: -1;
     bottom: 0;
     left: 0;
}
.offers .cards .card .context-bx{
     width: 99%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border: 1px solid rgb(182,182,182) ;
     padding: 5px 0px;
     border-radius: 0px 0px 5px 5px;
}
.offers .cards .card .context-bx .price , .days {
     padding: 0px 8px;
}
.offers .cards .card .context-bx .price .heart-chat {
     display: flex;
     align-items: center;
}
.offers .cards .card .context-bx .price .heart-chat i:nth-child(1) {
     color: red;
     font-size: 13px;
     margin-right: 10px;
}
.offers .cards .card .context-bx .price .heart-chat i span {
     color: #000;
     font-size: 12px;
     margin-left: 3px;
     font-style: normal;
}
.offers .cards .card .context-bx .price .heart-chat i:nth-child(2) {
     color: rgb(112, 196 ,229);
     font-size: 13px;
     margin-right: 10px;
}
.offers .cards .card .context-bx .price .info-price {
     display: flex;
     align-items: center;
     margin-top: 3px;
}
.offers .cards .card .context-bx .price .info-price a {
     text-decoration: none;
     color: #000;
     font-weight: 700;
     font-size: 11px;
     margin-right: 13px;
     transition: .3s linear;
}
.offers .cards .card .context-bx .price .info-price a:hover {
     color: gray;
}
.offers .cards .card .context-bx .price .info-price h4 {
     margin: 0;
     font-size: 13px;
}
.offers .cards .card .context-bx .days {
     color: #fff;
     background: #000;
     font-size: 8px;
     border-radius: 50%;
     padding: 10px;
     text-align: center;
     cursor: pointer;
     transition: 0.3s linear;
     margin-right: 7px;
}
.offers .cards .card .context-bx .days:hover {
     transform: rotate(360deg);
}
